################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs
/.gitignore
/Web.config
/Web.config
/Web.config
